.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Tp2 Algo Serializador/FileContentIndex/fc7473eb-17be-4136-8f91-0a0289b88308.vsidx
.vs/Tp2 Algo Serializador/v17/.wsuo
.vs/Tp2 Algo Serializador/v17/Browse.VC.db
.vs/Tp2 Algo Serializador/v17/Browse.VC.db-shm
.vs/Tp2 Algo Serializador/v17/Browse.VC.db-wal
.vs/Tp2 Algo Serializador/v17/Browse.VC.opendb
.vs/Tp2 Algo Serializador/FileContentIndex/80fe1dfb-4153-490b-8e01-f4b4e2b9c008.vsidx
.vs/Tp2 Algo Serializador/v17/DocumentLayout.json
.vs/Tp2 Algo Serializador/FileContentIndex/b3b975b5-ccb7-4a02-88f1-8f0d0fd6403c.vsidx
.vs/Tp2 Algo Serializador/FileContentIndex/7619817e-a6d2-4b7c-8b78-9555f3b146b1.vsidx
.vs/Tp2 Algo Serializador/FileContentIndex/3d137716-2f32-4771-b28b-845db4493cd9.vsidx
.vs/Tp2 Algo Serializador/FileContentIndex/99331c75-9b02-4125-9c28-9dee00dc1247.vsidx
.vs/Tp2 Algo Serializador/v17/DocumentLayout.backup.json
.vs/Tp2 Algo Serializador/v17/ipch/AutoPCH/4f9d0b79bb32d94b/SERIALIZADOR.ipch
.vs/Tp2 Algo Serializador/FileContentIndex/cbd05abd-070d-4b91-90e2-3adcdc83acac.vsidx
.vs/Tp2 Algo Serializador/FileContentIndex/5e04480f-1329-4a56-bc92-2fd4b3ec67c9.vsidx
.vs/Tp2 Algo Serializador/FileContentIndex/569c956e-773b-4acd-92ae-d141b26e38e1.vsidx
.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vs/Tp2 Algo Serializador
